[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
dataclasses-json = "*"
google-cloud-storage = "*"
pillow = "*"
python-dateutil = "*"
"rpi.gpio" = "*"
smbus = "*"
spidev = "*"

[dev-packages]

[requires]
python_version = "3.9"

[scripts]
update = "python main.py"
